<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
    <component name="PHPUnit">

        <option name="directories">
            <list>
                <option value="E:\proyectos\Personal\Practicas\practicas-2025\tests"/>
            </list>
        </option>
    </component>
</project>